body {
  background-color: #faebd7;
  color: #ff49b6;
}

.header {
  padding: 1rem;
  color: white;
  background-color: #d00977;
}

.link {
  border: none;
  background: inherit;
  color: white;
  font-size: medium;
  cursor: pointer;
  text-decoration: underline;
}

*:focus {
  outline: none;
}

li {
  list-style: none;
}

.home {
  padding: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline
}

.row > :nth-child(n-1){
  margin-left: 1em;
}

.row.space-around {
  justify-content: space-around;
}

.input-text {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.input-text > input {
  padding: 0.3em 0.5em;
}

.big-text {
  font-size: x-large;
  font-weight: 600;
}

.extra-big-text {
  font-size: xx-large;
  font-weight: 600;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 2em);
  padding: 1em;
  background-color: #d00977
}

.button {
  width: 100px;
  padding: 0.5em;
  background: antiquewhite;
  border-radius: 12px;
  cursor: pointer;
}
